///fonts///

$font-family: "Open Sans", Arial, sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
// $font-size-small: 12px;
$font-size: 14px;
// $font-size-bigger: 16px;
$font-size-big: 18px;
// $font-size-medium: 20px;
// $font-size-title: 24px;
// $font-size-biggest: 30px;
// $font-size-super-big: 40px;
// $font-size-giant: 50px;

///colors///

$main-color: #321c5a;
$font-main-color: #1e1d1e;
$font-second-color: #f4f2f6;

$bg-main: #fff;


///screen///

$screen-sm: 320px;
$screen-md: 660px;
$screen-lg: 960px;


$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);
