///fonts///

$font-family: "Open Sans", Arial, sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
// $font-size-small: 12px;
$font-size: 14px;
$font-size-bigger: 16px;
$font-size-big: 18px;
$font-size-medium: 20px;
$font-size-title: 24px;
$font-size-biggest: 30px;
$font-size-super-big: 40px;
$font-size--small-percent: 75%;
$font-size-giant: 50px;

///colors///

$main-color: #321c5a;
$second-color: #ea3267;

$pink-bright: #ef485f;
$pink-dark: #de4170;
$pink-light: #fce1e6;

$violet-dark: #301d50;
$violet-bright: #461e67;

$font-main-color: #1e1d1e;
$font-second-color: #f4f2f6;
$font-third-color: #553bb0;

$bg-main: #fff;
$bg-second: #eaecf1;
$bg-third: #f2f2f2;

$grey-light: $bg-third;
$grey: #e5e5e5;

///screen///

$screen-sm: 320px;
$screen-md: 660px;
$screen-lg: 960px;


$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);
