
<div id="main-menu-wrapper" class="page-header__top-line">
  <div class="page-header__top-line-inner">
    <a href="" class="main-logo">
      <picture>
        <source
          srcset="images/logo-desktop@2x.png 2x, images/logo-desktop@1x.png 1x"
          media="(min-width: 960px)">
        <source
          srcset="images/logo-tablet@2x.png 2x, images/logo-tablet@1x.png 1x"
          media="(min-width: 660px)">
        <img src="images/logo-mobile@1x.png"
            srcset="images/logo-mobile@2x.png 2x, images/logo-mobile@1x.png 1x"
            alt="SeoFocus" class="main-logo__img" width="210" height="37">
        </picture>
    </a>
  </div>
</div>
