<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title><%- projectName %>: снятие позиций вашего сайта</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="icon-google" viewbox="0 0 512 512"><path d="M492.668 211.489l-208.84-.01c-9.222 0-16.697 7.474-16.697 16.696v66.715c0 9.22 7.475 16.696 16.696 16.696h117.606c-12.878 33.421-36.914 61.41-67.58 79.194L384 477.589c80.442-46.523 128-128.152 128-219.53 0-13.011-.959-22.312-2.877-32.785-1.458-7.957-8.366-13.785-16.455-13.785z" fill="#167ee6"/><path d="M256 411.826c-57.554 0-107.798-31.446-134.783-77.979l-86.806 50.034C78.586 460.443 161.34 512 256 512c46.437 0 90.254-12.503 128-34.292v-.119l-50.147-86.81c-22.938 13.304-49.482 21.047-77.853 21.047z" fill="#12b347"/><path d="M384 477.708v-.119l-50.147-86.81c-22.938 13.303-49.48 21.047-77.853 21.047V512c46.437 0 90.256-12.503 128-34.292z" fill="#0f993e"/><path d="M100.174 256c0-28.369 7.742-54.91 21.043-77.847l-86.806-50.034C12.502 165.746 0 209.444 0 256s12.502 90.254 34.411 127.881l86.806-50.034c-13.301-22.937-21.043-49.478-21.043-77.847z" fill="#ffd500"/><path d="M256 100.174c37.531 0 72.005 13.336 98.932 35.519 6.643 5.472 16.298 5.077 22.383-1.008l47.27-47.27c6.904-6.904 6.412-18.205-.963-24.603C378.507 23.673 319.807 0 256 0 161.34 0 78.586 51.557 34.411 128.119l86.806 50.034c26.985-46.533 77.229-77.979 134.783-77.979z" fill="#ff4b26"/><path d="M354.932 135.693c6.643 5.472 16.299 5.077 22.383-1.008l47.27-47.27c6.903-6.904 6.411-18.205-.963-24.603C378.507 23.672 319.807 0 256 0v100.174c37.53 0 72.005 13.336 98.932 35.519z" fill="#d93f21"/></symbol>
    <symbol id="icon-yandex" viewbox="0 0 512 512"><path d="M510.689 478.854c0 17.561-14.275 31.836-31.836 31.836H33.146c-17.559 0-31.836-14.275-31.836-31.836V33.146c0-17.56 14.277-31.836 31.836-31.836h445.707c17.561 0 31.836 14.276 31.836 31.836v445.708z" fill="#ED1F24"/><path d="M313.475 105.366h-45.648c-44.854 0-82.892 34.142-82.892 100.427 0 39.765 18.42 69.084 51.25 83.547l-61.262 110.869c-2.005 3.619 0 6.426 3.202 6.426h28.433c2.4 0 4.01-.801 4.81-2.807l55.659-108.863h20.021v108.863c0 1.197 1.197 2.807 2.799 2.807h24.832c2.4 0 3.203-1.205 3.203-3.205V109.383c-.001-2.812-1.603-4.017-4.407-4.017zM287.047 269.26h-16.818c-26.427 0-52.053-19.281-52.053-67.483 0-50.22 24.024-70.705 48.448-70.705h20.424V269.26z" fill="#FFF"/></symbol>
    <symbol id="logo-google" viewbox="0 0 272 92"><path fill="#EA4335" d="M115.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18C71.25 34.32 81.24 25 93.5 25s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44S80.99 39.2 80.99 47.18c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"/><path fill="#FBBC05" d="M163.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18c0-12.85 9.99-22.18 22.25-22.18s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44s-12.51 5.46-12.51 13.44c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"/><path fill="#4285F4" d="M209.75 26.34v39.82c0 16.38-9.66 23.07-21.08 23.07-10.75 0-17.22-7.19-19.66-13.07l8.48-3.53c1.51 3.61 5.21 7.87 11.17 7.87 7.31 0 11.84-4.51 11.84-13v-3.19h-.34c-2.18 2.69-6.38 5.04-11.68 5.04-11.09 0-21.25-9.66-21.25-22.09 0-12.52 10.16-22.26 21.25-22.26 5.29 0 9.49 2.35 11.68 4.96h.34v-3.61h9.25zm-8.56 20.92c0-7.81-5.21-13.52-11.84-13.52-6.72 0-12.35 5.71-12.35 13.52 0 7.73 5.63 13.36 12.35 13.36 6.63 0 11.84-5.63 11.84-13.36z"/><path fill="#34A853" d="M225 3v65h-9.5V3h9.5z"/><path fill="#EA4335" d="M262.02 54.48l7.56 5.04c-2.44 3.61-8.32 9.83-18.48 9.83-12.6 0-22.01-9.74-22.01-22.18 0-13.19 9.49-22.18 20.92-22.18 11.51 0 17.14 9.16 18.98 14.11l1.01 2.52-29.65 12.28c2.27 4.45 5.8 6.72 10.75 6.72 4.96 0 8.4-2.44 10.92-6.14zm-23.27-7.98l19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7-4.95 0-11.84 4.37-11.59 12.93z"/><path fill="#4285F4" d="M35.29 41.41V32H67c.31 1.64.47 3.58.47 5.68 0 7.06-1.93 15.79-8.15 22.01-6.05 6.3-13.78 9.66-24.02 9.66C16.32 69.35.36 53.89.36 34.91.36 15.93 16.32.47 35.3.47c10.5 0 17.98 4.12 23.6 9.49l-6.64 6.64c-4.03-3.78-9.49-6.72-16.97-6.72-13.86 0-24.7 11.17-24.7 25.03 0 13.86 10.84 25.03 24.7 25.03 8.99 0 14.11-3.61 17.39-6.89 2.66-2.66 4.41-6.46 5.1-11.65l-22.49.01z"/>
    </symbol><symbol id="logo-yandex" viewbox="0 0 512 512"><path d="M510.689 478.854c0 17.561-14.275 31.836-31.836 31.836H33.146c-17.559 0-31.836-14.275-31.836-31.836V33.146c0-17.56 14.277-31.836 31.836-31.836h445.707c17.561 0 31.836 14.276 31.836 31.836v445.708z" fill="#ED1F24"/><path d="M313.475 105.366h-45.648c-44.854 0-82.892 34.142-82.892 100.427 0 39.765 18.42 69.084 51.25 83.547l-61.262 110.869c-2.005 3.619 0 6.426 3.202 6.426h28.433c2.4 0 4.01-.801 4.81-2.807l55.659-108.863h20.021v108.863c0 1.197 1.197 2.807 2.799 2.807h24.832c2.4 0 3.203-1.205 3.203-3.205V109.383c-.001-2.812-1.603-4.017-4.407-4.017zM287.047 269.26h-16.818c-26.427 0-52.053-19.281-52.053-67.483 0-50.22 24.024-70.705 48.448-70.705h20.424V269.26z" fill="#FFF"/></symbol>
  </svg>


  <header class="page-header  page-header--main">
    <h1 class="hidden">SeoFocus</h1>
    <div class="page-header__inner">
      <%- include  ./header %>
      <div class="promo  promo--main">
        <div class="promo__inner">
          <div class="promo__content">
            <div class="promo__content-inner">
              <h1 class="promo__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
              <p class="promo__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro in debitis illo voluptatem commodi facilis temporibus sed repellendus ullam? Necessitatibus molestiae unde ab, ipsam eligendi facilis sequi distinctio corporis architecto.</p>
              <div class="promo__btn-wrap">
                <a href="#form" class="btn  btn--scroll">Попробовать прямо сейчас!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="features">
      <div class="features__inner">
        <h1 class="features__title">
          <p>Хотите быстро получить точные результаты?</p>
          <p> Нам есть, что вам предложить!</p>
        </h1>
        <ul class="features__list">
          <li class="features__item  features__item--load-report">
            <h2 class="features__item-title">Экономим Ваше время</h2>
            <p class="features__item-text">Начните изучать отчет пока идет загрузка. Результаты появляются постепенно, по мере выполнения проверки</p>
          </li>
          <li class="features__item  features__item--responsive">
            <h2 class="features__item-title">Доступен для всех</h2>
            <p class="features__item-text">Заходите к нам со смартфона или планшета, пока пьете кофе, с компьютера во время рабочего дня. Снятие позиций Ваших сайтов работает на любых устройствах</p>
          </li>
          <li class="features__item  features__item--save-file">
            <h2 class="features__item-title">Покажите отчет коллегам</h2>
            <p class="features__item-text">Вы можете сохранить отчет в PDF формате, отправить коллегам, показать добросоветсному или нерадивому SEOшнику</p>
          </li>
        </ul>
      </div>
    </section>

    <form action="/position" method="post" class="form  form--grey-bg" id="form">
      <div class="form__inner">
        <div class="form__container  form__container--flex">
          <div class="form__step  form__step--promo  form__step--order-0">
            <div class="form__step-inner">
              <h2 class="form__title  visually-hidden  visually-hidden--sm-md">Lorem ipsum dolor sit.</h2>
              <p class="form__promo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius neque magnam esse, quam eos dolorem quaerat dolor, aspernatur expedita culpa, sunt voluptate, ullam.</p>
            </div>
          </div>

          <div class="form__step  form__step--white-bg  form__step--order-1  form__step--url">
            <div class="form__step-inner  form__step-inner--small-width">
              <h3 class="form__step-title">Введите адрес сайта</h3>
              <div class="field-text">
                <label class="field-text__name  visually-hidden" for="text-field-1">Lorem ipsum dolor.</label>
                <div class="field-text__input-wrap">
                  <input class="field-text__input  field-text__input--required" id="text-field-url" type="url" placeholder="http://" name="URL" required>
                </div>
              </div>
            </div>
          </div>

          <div class="form__step  form__step--enter-key  form__step--order-3">
            <div class="form__step-inner  form__step-inner--choise-enter-key">
              <h3 class="form__step-title">Как будем вводить ключи?</h3>
              <ul class="form__enter-keywords-list">
                <li class="field-radio">
                  <label class="field-radio__name">
                    <input type="radio" name="enter-key-type" value="hand-enter-key" class="field-radio__input" id="enter-type-1">
                    <span class="field-radio__name-text  field-radio__name-text--hand">Введу слова вручную</span>
                  </label>
                </li>
                <li class="field-radio">
                  <label class="field-radio__name">
                    <input type="radio" name="enter-key-type" value="copypaste-enter-key" class="field-radio__input" id="enter-type-2" checked>
                    <span class="field-radio__name-text">Скопирую список из документа</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="form__step-wrapper  form__step-wrapper--order-4">

            <div class="form__step  form__step--white-bg  form__step--hand-enter-keys  form__step--hide" id="step-enter-1">
              <div class="form__step-inner  form__step-inner--small-width">
                <h3 class="form__step-title">Введите ключевые слова</h3>
                <div class="field-text  field-text--keyword">
                  <label class="field-text__name  visually-hidden" for="text-field-1">Ключевое слово</label>
                  <div class="field-text__input-wrap">
                    <input class="field-text__input  field-text__input--required" name="keyword" id="text-field-keyword" type="text" placeholder="Ключевое слово" pattern="^[A-Za-zА-Яа-яЁё\s]+$" data-word-count="10">
                  </div>
                </div>
                <div class="form__note-wrapper">
                   <p class="note"><span class="note__star">*</span> &mdash; Вводите по одному ключевому слову или фразе</p>
                </div>
                <div class="form__button-wrap">
                  <button type="button" class="btn  btn--large-pink  btn--new-keyword">Еще ключевое слово</button>
                  <button type="button" class="btn  btn--large-pink  btn--delete-keyword">Удалить ключевое слово</button>
                </div>
              </div>
            </div>

            <div class="form__step  form__step--white-bg  form__step--copypaste-enter-keys"  id="step-enter-2">
              <div class="form__step-inner  form__step-inner--small-width">
                <h3 class="form__step-title">Введите ключевые слова</h3>
                <textarea class="field-text__textarea  field-text__input  field-text__input--required" name="keywords" id="textarea-keywords" cols="30" rows="10" placeholder="Каждое ключевое слово или фразу вводите с новой строки*" data-word-count="10" pattern="^[A-Za-zА-Яа-яЁё\s]+$"  required></textarea>
                <div class="form__note-wrapper">
                  <p class="note"><span class="note__star">*</span> &mdash; Обратите внимание на разделитель ключевых запросов (новая строка)</p>
                </div>
              </div>
            </div>

          </div>


          <div class="form__step  form__step--seach-system  form__step--order-2">
            <div class="form__step-inner  form__step-inner--seach-system">
              <h3 class="form__step-title">Поисковые системы</h3>
              <ul class="form__search-list">
                <li class="field-checkbox">
                  <label class="field-checkbox__name">
                    <input type="checkbox" class="field-checkbox__input" checked>
                    <span class="field-checkbox__name-text"><svg width="35" height="35"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-yandex"></use></svg><span>&ensp;(Яндекс)</span></span>
                  </label>
                </li>
                <li class="field-checkbox">
                  <label class="field-checkbox__name">
                    <input type="checkbox" class="field-checkbox__input" checked>
                    <span class="field-checkbox__name-text"><svg width="35" height="35"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use></svg><span>&ensp;(Google)</span></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="form__step  form__step--white-bg  form__step--country  form__step--order-5">
            <div class="form__step-inner  form__step-inner--small-width">
              <label class="field-select">
                <div class="field-select__name">
                  Страна
                </div>
                <div class="field-select__select-wrap">
                  <select class="field-select__select">
                    <option value="0" selected="selected">Россия</option>
                    <option value="1">Украина</option>
                    <option value="2">Белоруссия</option>
                  </select>
                </div>
              </label>
              <div class="field-text">
                <label class="field-text__name" for="text-field-1">Регион поиска</label>
                <div class="field-text__input-wrap">
                  <input class="field-text__input" id="text-field-region" type="text" placeholder="Введите регион" name="region">
                </div>
              </div>
            </div>
          </div>

          <div class="form__step  form__step--button  form__step--order-6">
            <div class="form__step-inner  form__step-inner--small-width">
              <button type="submit" class="btn  btn--large-form  btn--submit-form">Проверяем позиции сайта</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </main>
  <footer class="page-footer">
    <p class="page-footer__text" style="color: white; text-align: center; font-size: 24px; font-weight: bold;">Lorem ipsum dolor.</p>
  </footer>
  <script src="javascripts/main.js" charset="utf-8"></script>
</body>
</html>
