<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title><%- projectName %>.Проверка</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

  <body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
      <symbol id="external-link" viewbox="0 0 283.922 283.922"><g fill="#461e67"><path d="M266.422 0h-97.625c-9.65 0-17.5 7.851-17.5 17.5 0 9.649 7.85 17.5 17.5 17.5h55.377l-92.375 92.374a17.378 17.378 0 0 0-5.127 12.375c0 4.676 1.819 9.069 5.125 12.371a17.374 17.374 0 0 0 12.375 5.13c4.674 0 9.069-1.82 12.376-5.127l92.374-92.375v55.377c0 9.649 7.851 17.5 17.5 17.5 9.649 0 17.5-7.851 17.5-17.5V17.5c0-9.649-7.851-17.5-17.5-17.5z"/><path d="M201.137 253.922H30V82.785h128.711l30-30H15c-8.284 0-15 6.716-15 15v201.137c0 8.284 6.716 15 15 15h201.137c8.284 0 15-6.716 15-15V95.211l-30 30v128.711z"/></g></symbol>
      <symbol id="refresh" viewbox="0 0 496.156 496.156"><path d="M0 248.08C0 111.06 111.069.002 248.074.002c137.013 0 248.082 111.059 248.082 248.078 0 137.005-111.069 248.074-248.082 248.074C111.069 496.154 0 385.085 0 248.08z" fill="#461e67"/><g fill="#fff"><path d="M428.243 172.149c-10.348.023-20.694.054-31.042.077-23.272-52.177-68.95-89.871-126.649-98.91-64.287-10.071-125.816 19.788-162.504 72.312-16.296 23.326 22.003 45.165 38.16 22.034 50.317-72.037 157.757-65.527 201.907 4.686l-28.678.068c-2.674.008-4.574 1.197-5.749 2.877-1.92 2.058-2.65 5.072-.639 8.186 18.204 28.25 36.408 56.499 54.616 84.745 3.061 4.747 9.663 4.708 12.696-.046l54.188-85.013c2.989-4.685-.947-11.03-6.306-11.016zM350.353 327.224c-49.927 71.49-156.108 65.63-200.886-3.049l27.484-.068c2.666-.008 4.563-1.19 5.741-2.865 1.924-2.059 2.658-5.072.646-8.197-18.2-28.246-36.405-56.499-54.609-84.741-3.056-4.751-9.662-4.712-12.695.046l-54.196 85.009c-2.987 4.689.948 11.032 6.308 11.017l32.006-.08c23.498 51.319 68.777 88.332 125.865 97.275 64.287 10.072 125.816-19.784 162.496-72.312 16.293-23.331-22.005-45.169-38.16-22.035z"/></g></symbol>
      <symbol id="tap" viewbox="0 0 42.585 42.585"><g fill="#461e67"><path d="M14.934 32.494a.5.5 0 0 1-.5-.5V15.632c0-1.93 1.481-3.5 3.303-3.5s3.303 1.57 3.303 3.5v10.637a.5.5 0 0 1-1 0V15.632c0-1.378-1.033-2.5-2.303-2.5s-2.303 1.122-2.303 2.5v16.361a.5.5 0 0 1-.5.501z"/><path d="M17.099 42.585a.502.502 0 0 1-.354-.146l-7.413-7.412c-.824-.824-1.376-1.835-1.555-2.846-.189-1.076.062-2.025.708-2.67 1.287-1.288 3.415-1.255 4.745.074l2.056 2.056a.5.5 0 0 1-.707.707l-2.056-2.056c-.94-.939-2.435-.972-3.331-.074-.409.409-.562 1.044-.43 1.79.143.811.596 1.632 1.277 2.313l7.413 7.412a.5.5 0 0 1-.353.852zM26.146 27.341a.5.5 0 0 1-.5-.5V24.32c0-1.115-1.033-2.021-2.303-2.021s-2.303.907-2.303 2.021v2.521a.5.5 0 0 1-1 0V24.32c0-1.666 1.482-3.021 3.303-3.021s3.303 1.355 3.303 3.021v2.521a.5.5 0 0 1-.5.5z"/><path d="M31.75 27.341a.5.5 0 0 1-.5-.5v-2.104c0-.87-1.054-1.604-2.302-1.604s-2.302.735-2.302 1.604v2.104a.5.5 0 0 1-1 0v-2.104c0-1.436 1.481-2.604 3.302-2.604s3.302 1.168 3.302 2.604v2.104c0 .277-.223.5-.5.5z"/><path d="M37.356 33.759a.5.5 0 0 1-.5-.5v-6.877c0-1.378-1.033-2.5-2.303-2.5-1.357 0-2.303.648-2.303 1.229v1.729a.5.5 0 0 1-1 0v-1.729c0-1.25 1.451-2.229 3.303-2.229 1.821 0 3.303 1.57 3.303 3.5v6.877a.5.5 0 0 1-.5.5z"/><path d="M33.356 42.582H17.138c-.276 0-.518-.224-.518-.5s.206-.5.482-.5h16.254c1.93 0 3.5-1.57 3.5-3.5v-5.396a.5.5 0 0 1 1 0v5.396c0 2.481-2.019 4.5-4.5 4.5zM17.737 7.197a.5.5 0 0 1-.5-.5V.5a.5.5 0 0 1 1 0v6.197a.5.5 0 0 1-.5.5zM21.857 8.916a.5.5 0 0 1-.354-.853l4.381-4.382a.5.5 0 0 1 .707.707L22.21 8.769a.495.495 0 0 1-.353.147zM30.244 12.408h-6.197a.5.5 0 0 1 0-1h6.197a.5.5 0 0 1 0 1z"/><g><path d="M13.617 8.916a.502.502 0 0 1-.354-.146L8.881 4.387a.5.5 0 0 1 .707-.707l4.382 4.382a.5.5 0 0 1-.353.854zM11.426 12.408H5.229a.5.5 0 0 1 0-1h6.196a.5.5 0 0 1 .001 1z"/></g></g></symbol>
    </svg>

    <pre><code><%- JSON.stringify(report, null, 2) %></code></pre>

    <header class="page-header">
      <div class="page-header__inner">
        <%- include  ./header %>
      </div>
    <div class="promo">
      <div class="promo__inner  promo__inner--padding">
        <h1 class="promo__title">Проверка позиций вашего сайта</h1>
      </div>
    </div>
  </header>

  <main>

    <section class="loader">
      <div class="loader__inner">
        <h1 class="loader__title">
          Выполняется проверка
        </h1>
        <div class="loader__load">
          <span class="loader__bar  loader__bar--load">
          </span>
        </div>
        <div class="loader__note-wrap">
          <p class="note">Нажмите кнопку <br><span class="note__quotes">&laquo;</span>Обновить страницу<span class="note__quotes">&raquo;</span> ,<br> чтобы узнать статус проверки и получить результаты
        </div>
        <div class="loader__btn-wrap">
          <button class="btn  btn--reload">Обновить страницу</button>
        </div>
        <div class="loader__note-wrap">
          <p class="note"><span class="note__star">*</span> &mdash; Результаты появляются ниже по мере прохождения проверки</p>
        </div>
      </div>
    </section>

    <section class="loader  loader--success">
      <div class="loader__inner">
        <h1 class="loader__title">
          Проверка прошла успешно!
        </h1>
        <div class="loader__load">
          <span class="loader__bar  loader__bar--success">
          </span>
        </div>
        <div class="loader__note-wrap">
          <p class="note"><span class="note__star">*</span> &mdash; Результаты проверки находятся ниже</p>
        </div>
      </div>
    </section>

    <section class="loader  loader--error">
      <div class="loader__inner">
        <h1 class="loader__title">
          Что-то пошло не так :(
        </h1>
        <div class="loader__load">
          <span class="loader__bar  loader__bar--error">
          </span>
        </div>
        <div class="loader__note-wrap">
          <p class="note">Некоторые сервисы сейчас недоступны. Обновите запрос или повторите заявку позднее.
          <p class="note"><span class="note__star">*</span> &mdash; Полученные результаты проверки находятся ниже</p>
        </div>
      </div>
    </section>


    <section class="result">
      <div class="result__inner">
        <h1 class="result__title">
          Результаты снятия позиций сайта
        </h1>
        <p class="result__text"><span class="result__subtitle result__subtitle--pink">Заявка:</span> <span class="result__city">Санкт-Петербург</span>, <span class="result__region">Россия</span>, <span class="result__day">15 января 2017 года</span> в <span class="result__time">19:30</span></p>
        <div class="result__table-wrap">
          <table class="table  table--responsive  table--hover">

            <thead>
              <tr>
                <th>Ключевое слово</th>
                <th>Яндекс</th>
                <th>Google</th>
              </tr>
            </thead>

            <tbody>

              <tr class="result__request">
                <td class="result__keyword" data-label="Ключевое слово">Анатоле Вассерман</td>

                <td data-label="Яндекс" class="result__position  result__position--success">
                  <span class="result__number">3</span>
                  <span title="Показать найденный URL" class="result__svg-wrap  result__svg-wrap--margin"><svg width="40" height="40"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></span>
                </td>

                <td data-label="Google"  class="result__position  result__position--error">
                  <span class="result__number">3</span>
                  <span title="Проверить вручную" class="result__svg-wrap"><svg width="40" height="40"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tap"></use></svg></span>
                  <span title="Обновить запрос" class="result__svg-wrap  result__svg-wrap--margin"><svg width="40" height="40"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#refresh"></use></svg></span>
                </td>
              </tr>

              <tr class="result__request">
                <td class="result__keyword" data-label="Ключевое слово">Джакомо Казанова</td>

                <td data-label="Яндекс"  class="result__position  result__position--error">
                  <span class="result__number">3</span>
                  <span title="Проверить вручную" class="result__svg-wrap"><svg width="40" height="40"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tap"></use></svg></span>
                  <span title="Обновить запрос" class="result__svg-wrap  result__svg-wrap--margin"><svg width="40" height="40"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#refresh"></use></svg></span>
                </td>

                <td data-label="Google"  class="result__position  result__position--success">
                  <span class="result__number">3</span>
                  <span title="Показать найденный URL" class="result__svg-wrap  result__svg-wrap--margin"><svg width="40" height="40"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></span>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="result__btns-wrap">
          <div class="result__btn-wrapper">
            <button class="btn  btn--load-file  btn--large-pink">Скачать отчет</button>
          </div>
          <div class="result__btn-wrapper">
            <a href="index.html" class="btn  btn--new-request  btn--large-form">Новая заявка</a>
          </div>
        </div>
      </div>
    </section>

  </main>
  <footer class="page-footer">
    <p class="page-footer__text" style="color: white; text-align: center; font-size: 24px; font-weight: bold;">Lorem ipsum dolor.</p>
  </footer>

  </body>
</html>
