.btn {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  color: $font-second-color;
  font-size: $font-size-big;
  font-weight: $bold;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 40px;
  cursor: pointer;
  background-color: $second-color;
  line-height: 1.2em;
  background-image: linear-gradient(to right, $pink-dark, $pink-bright);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  width: 100%;
  white-space: pre-wrap;
  border: none;
  cursor: pointer;

  @media (min-width: $screen-lg) {
    font-size: $font-size-medium;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.btn--large-pink {
  margin-top: 15px;
  width: 100%;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $second-color;
  background-image: linear-gradient(to right, $pink-dark, $pink-bright);
  line-height: 1.667em;
  border: none;
  padding-left: 34px;
  padding-right: 34px;
  color: $font-second-color;
  font-size: $font-size;
  border-radius: 0;
  font-weight: $normal;

  @media (min-width: $screen-lg) {
    font-size: $font-size-medium;
    text-transform: initial;
  }
}

.btn--large-form {
  margin-top: 0;
  width: 100%;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-color;
  background-image: linear-gradient(to right, $violet-dark, $violet-bright);
  line-height: 1.667em;
  padding-left: 34px;
  padding-right: 34px;
  color: $font-second-color;
  font-size: $font-size-bigger;
  font-weight: $bold;
  border: none;
  border-radius: 0;

  @media (min-width: $screen-lg) {
    font-size: $font-size-medium;
  }
}


.btn--reload {
  border-radius: 20px;
  font-weight: $normal;
}

.btn--new-request {
  font-weight: $normal;
  font-size: $font-size;

  @media (min-width: $screen-lg) {
    text-transform: initial;
  }
}

.btn--load-file {
  margin-top: 0;

  @media (min-width: $screen-md) {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
