.features__inner {
  @include container;
  text-align: center;
  padding-top: 20px;
}

.features__title {
  font-size: $font-size-title;
  font-weight: $light;
  line-height: 1.2em;
  margin-top: 0;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 20px;

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.features__item {
  margin-bottom: 35px;

  @media (min-width: $screen-md) {
    flex-basis: 40%;
  }

  @media (min-width: $screen-lg) {
    flex-basis: 20%;
  }
}

.features__item-title {
  font-size: $font-size-big;
  font-weight: $bold;
  line-height: 1.333em;
}

.fetures__item-text {
  line-height: 1.714em;
}
