.field-radio {

  &:not(:last-child) {
    margin-bottom: 37px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-md) {
    flex-basis: 45%;
  }
}

.field-radio__name-text {
  font-size: $font-size-bigger;
  color: $font-main-color;
  line-height: 1.667em;
  padding-left: 3.889em;
  position: relative;
  display: block;
}

.field-radio__input {
  position: absolute;
  opacity: 0;
}

.field-radio__input + .field-radio__name-text:before {
  width: 39px;
  height: 39px;
  position: absolute;
  top: -3px;
  left: 0;
  content: "";
  background-color: $bg-main;
  border: 2px solid $grey;
  border-radius: 50%;
  cursor: pointer;
}

// .field-radio__input:hover + .field-radio__name-text:before {
//   border-color: $font-color-main;
// }

// .field-radio__input:active + .field-radio__name-text:before {
//   border-color: $main-color;
// }

.field-radio__input:checked + .field-radio__name-text:after {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 9px;
  left: 12px;
  content: "";
  background-color: $second-color;
  border-radius: 50%;
}
