.form {
  background-color: $bg-third;
}

.form__inner {
  padding-top: 35px;
  padding-bottom: 10px;
}

.form__promo-text {
  text-align: center;
  line-height: 2em;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.form__step {

  &--white-bg {
    background-color: $bg-main;
  }
}

.form__step-title {
  display: block;
  text-transform: uppercase;
  color: $second-color;
  margin-left: 15px;
  font-size: $font-size;
  font-weight: $normal;
}

.form__step-inner {
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;

  &--seach-system  .form__step-title{
    margin-left: 0;
    text-align: center;
  }
}

.form__search-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
