.loader {
  background-color: $bg-third;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $screen-md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.loader__title {
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1em;

  @media (min-width: $screen-lg) {
    font-size: $font-size-biggest;
  }
}

.loader__inner {
  @include container();
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #ea3267;
  border-radius: 2em;
  background-color: $bg-main;
  overflow: hidden;
}

.loader__text {
  font-size: $font-size-bigger;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;

  @media (min-width: $screen-lg) {
    font-size: $font-size-big;
  }
}

.loader__load {
  min-height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $screen-lg) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.loader__bar {

  &:before {
    content: "";
    display: block;
    width: 5em;
    height: 5em;
    background-image: url("../img/circle.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: loader-rotate 1s linear infinite;

    @media (min-width: $screen-lg) {
      width: 8em;
      height: 8em;
    }
  }
}

@keyframes loader-rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
