.note {
  text-align: center;
  line-height: 1.6em;
  font-size: $font-size-bigger;

  @media (min-width: $screen-lg) {
    font-size: $font-size-big;
  }
}

.note__star {
  color: $second-color;
}

.note--words-count span,
.note--left-words-count span {
  color: $second-color;
  font-weight: $bold;
}

.note--error {
  font-size: $font-size;
  text-transform: uppercase;
  color: $error-text;
  font-weight: $bold;
}
