.page-header {
  background-color: $main-color;
  background-image: linear-gradient($violet-dark, $violet-bright);
}

.page-header__top-line {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
}

.page-header__inner {
  padding-top: 22px;

  @media (min-width: $screen-md) {
    padding-top: 29px;
  }
}

.page-header__top-line-inner {
  @include container();
  display: flex;
  align-items: center;
}
