.promo__inner {
  padding-top: 300px;
  padding-bottom: 30px;
  @include clearfix();
  position: relative;
  width: 280px;
  @include container();

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background-image: url("../img/file.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 45px;
    left: 0;
    right: 0;
    background-size: 750px 750px;

    @media (min-width: $screen-md) {
      position: absolute;
      width: 300px;
      height: 350px;
      top: auto;
      bottom: 30px;
      left: auto;
      background-size: 900px 900px;
      background-position: center -175px;
    }
  }

  @media (min-width: $screen-md) {
    position: relative;
    width: 620px;
    margin: 0 auto;
    padding-top: 30px;
  }

  @media (min-width: $screen-lg) {
    position: relative;
    width: 940px;
    margin: 0 auto;
  }
}

// .promo__img {
//   width: 100%;
//   height: 250px;
//   background-image: url("../img/file.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 500px 550px;

//   @media (min-width: $screen-md) {
//     position: absolute;
//     width: 300px;
//     height: calc(100% - 70px);
//     right: 0;
//     bottom: 30px;
//   }
// }

.promo__content-inner {
  text-align: center;

  @media (min-width: $screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.promo__title {
  line-height: 1em;
  color: $font-second-color;
}

.promo__text {
  color: $font-second-color;
}

.promo__content {

  @media (min-width: $screen-md) {
    float: left;
    width: 320px;
  }
}
