.promo {

  &--main {

    .promo__inner {
      padding-top: 320px;
      @include clearfix();
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 300px;
        background-image: url("../img/file.svg");
        background-repeat: no-repeat;
        background-position: center;
        top: 57px;
        left: 0;
        right: 0;
        background-size: 750px 750px;
        z-index: 1;

        @media (min-width: $screen-md) {
          position: absolute;
          width: 300px;
          height: 350px;
          top: auto;
          bottom: 30px;
          left: auto;
          background-size: 900px 900px;
          background-position: center -175px;
        }

        @media (min-width: $screen-lg) {
          bottom: 60px;
        }
      }

      @media (min-width: $screen-md) {
        position: relative;
        padding-top: 30px;
      }

      @media (min-width: $screen-lg) {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    .promo__title {
      font-weight: $bold;
    }
  }
}

.promo__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  @include container();
  text-align: center;
}

.promo__content-inner {
  text-align: center;

  @media (min-width: $screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.promo__title {
  line-height: 1.2em;
  color: $font-second-color;
  font-weight: $light;

  @media (min-width: $screen-md) {
    font-size: $font-size-biggest;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-super-big;
  }
}

.promo__text {
  color: $font-second-color;
  margin-top: 30px;

  @media (min-width: $screen-md) {
    font-size: $font-size-bigger;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-big;
  }
}

.promo__content {
  position: relative;
  z-index: 10;

  @media (min-width: $screen-md) {
    float: left;
    width: 320px;
  }

  @media (min-width: $screen-lg) {
    float: left;
    width: 600px;
  }
}


.promo__btn-wrap {
  padding-top: 15px;

  @media (min-width: $screen-lg) {
    width: 55%;
    margin: 0 auto;
    padding-top: 25px;
  }
}
