*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-weight: $normal;
  font-size: $font-size;
  min-width: $screen-sm;
  line-height: 1.5em;
  color: $font-main-color;
}

input, textarea, keygen, select, button {
  font-family: $font-family;
}

p {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1em;

  // &::selection {
  //   background-color: $pink-light;
  // }
}
