.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $pink-dark;

  td,
  th {
    vertical-align: top;
    border-bottom: 1px solid $pink-dark;
    padding: 1.6em;
  }

  th {
    text-align: center;
  }

  &--hover {

    tbody {

      tr:hover {

        @media (min-width: $screen-md) {
          background-color: $grey;
        }
      }
    }
  }
}

.table--responsive {
    display: block;
    border: 0;

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;

      tr {
        display: block;
        border: 1px solid $pink-dark;
        border-bottom: 0;

        &:not(:last-child) {
          margin-bottom: 2em;
        }
      }

      td {
        display: block;
        width: 100%;
        border-right: 0;
        border-left: 0;
        font-size: $font-size-bigger;

        &:before {
          display: block;
          font-weight: 700;
          content: attr(data-label);
          margin-bottom: 1.5em;
          font-size: $font-size-bigger;
        }
      }
  }

  @media (min-width: $screen-md) {
    display: table;
    border: 1px solid $pink-dark;

    thead {
      display: table-header-group;
      background-color: $bg-second;
    }

    tbody {
      display: table-row-group;
      vertical-align: middle;

      tr {
        display: table-row;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      td {
        display: table-cell;
        width: auto;
        vertical-align: middle;

        &:before {
          display: none;
        }
      }
    }

    th {
      font-size: $font-size-bigger;
    }
  }

  @media (min-width: $screen-lg) {

    th {
      font-size: $font-size-big;
    }

    tbody {

      td {
        font-size: $font-size-big;
      }
    }
  }
}
